<h2>FINAL SEMESTER</h2>
<hr>
<h2>Activity 1.) PH DENGUE ANALYSIS</h2>

In [6]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings
from scipy.stats import f_oneway
warnings.filterwarnings('ignore')

In [7]:
dengue = pd.read_csv("C:\\Users\\LAB4-StudentPC26\\Desktop\\dengue.csv")

In [8]:
dengue

          Month  Year    Region  Dengue_Cases  Dengue_Deaths
0       January  2016  Region I           705              1
1      February  2016  Region I           374              0
2         March  2016  Region I           276              0
3         April  2016  Region I           240              2
4           May  2016  Region I           243              1
...         ...   ...       ...           ...            ...
1015     August  2020     BARMM            91              0
1016  September  2020     BARMM            16              8
1017    October  2020     BARMM            13              9
1018   November  2020     BARMM            15              1
1019   December  2020     BARMM            23              0

[1020 rows x 5 columns]

In [9]:
dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          1020 non-null   object
 1   Year           1020 non-null   int64
 2   Region         1020 non-null   object
 3   Dengue_Cases   1020 non-null   int64
 4   Dengue_Deaths  1020 non-null   int64
dtypes: int64(3), object(2)
memory usage: 40.0+ KB

In [10]:
dengue.dtypes

Month            object
Year              int64
Region           object
Dengue_Cases      int64
Dengue_Deaths     int64
dtype: object

<h2>VISUALIZATION USING SEABORN</h2>

<h2>Dengue Cases Trend From 2016-2020</h2>

In [14]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
dengue['Month'] = pd.Categorical(dengue['Month'], categories=month_order, ordered=True)

montly_cases = dengue.groupby(['Month'])['Dengue_Cases'].sum()
montly_cases.unstack().plot(kind='bar', stacked = True)

plt.show
plt.gcf().set_size_inches(12,8)

ValueError: index must be a MultiIndex to unstack, <class 'pandas.core.indexes.category.CategoricalIndex'> was passed